.f1 {
  color: white;
  background-color: rgb(49, 75, 49);
  padding: 1px 30px;

  .left {
    display: flex;
    justify-content: space-between;

    input {
      /* padding: 5px; */
      margin: 10px 0;

      .check {
        margin: 0;
      }
    }

    .icons *{
      font-size: 20px;
      margin-top: 10px;
      margin-right: 20px;
    }
  }

  .right {
    display: flex;
    margin-top: 30px;

    p {
      margin: 0 15px;
    }

    select {
      /* margin-top: 40px; */
      background-color: rgb(49, 75, 49);
      color: white;
      border-radius: 5px;
      border-color: white;
      padding: 15px;
      width: 250px;
    }
  }

  .sub {
    border: none;
    background-color: rgb(49, 75, 49);
    border-bottom: 2px solid white;
    width: 300px;
  }

  button {
    background-color: rgb(49, 75, 49);
    color: white;
    border: none;
    margin-left: -70px;
  }

  .bottom {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;

      li {
        margin: 0 20px;
      }
    }
  }
}